.discussion-main{
    display: flex;
}

.post-comment{
  width: 50%;
  margin-top:20px;
  overflow: auto;
  height: 80vh;
}

.ai-chat{
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 47px;
    width: 29%;
}
