.discussion-main{
    display: flex;
}

.search-container{
  margin-top: 50px;
  margin-left: 10px;
  width: 23%;
}

.post-comment{
  width: 50%;
  margin-top:20px;
  overflow: auto;
  height: 83vh;
}
