.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.loginbtn {
  display: flex;
  justify-content: center;
}

.login-mit-google {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}

.sub-container{
  margin-top:25px;
}

