<div class="new-password-container">
  <div class="form-card">
    <div class="form-card-sub">
      <h2 style="color: rgb(255, 0, 0)">Reset Password</h2>
    <div class="row">
      <mat-form-field appearance="outline" class="small full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [(ngModel)]="newpassword"
          type="password"
          placeholder="Enter new password"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="small full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [(ngModel)]="confirmpassword"
          type="password"
          placeholder="Re-enter password"
        />
      </mat-form-field>
    </div>

    <div class="button-row">
      <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="validatePasswords()">
          <mat-icon>check_circle</mat-icon>Confirm
        </button>
        <button mat-stroked-button color="warn" (click)="onCancelClick()">
          <mat-icon>cancel</mat-icon>Cancel
        </button>
      </mat-dialog-actions>
    </div>
    </div>
  </div>
</div>
