
.new-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-card {
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  border:1px solid #888;
}

.form-card-sub{
  margin:20px;
}

.full-width {
  width: 100%;
}

button{
  margin:2px;
}
