@if (IsCommentVisible){
  <div class="comments-container card-container">
    <div class="card new-comment-card">
      <button *ngIf="!topLevelBoxOpen" mat-raised-button color="primary" (click)="openNewCommentBox()">
        Add Comment
      </button>

      <div *ngIf="topLevelBoxOpen" class="comment-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Write a comment</mat-label>
          <textarea matInput [(ngModel)]="newCommentText" rows="4" placeholder="Your comment"></textarea>
        </mat-form-field>

        <div class="form-buttons">
          <button mat-raised-button color="primary" (click)="saveNewComment()">Save</button>
          <button mat-button color="warn" (click)="cancelNewComment()">Cancel</button>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let comment of comments">
      <app-comment-item 
        [comment]="comment"
        [replyBoxOpenFor]="replyBoxOpenFor"
        [replyTextByComment]="replyTextByComment"
        (openReply)="openReplyBox($event)"
        (cancelReply)="cancelReply($event)"
        (saveReply)="saveReply($event)"
      ></app-comment-item>
    </ng-container>
  </div>
}

