<div class="main-container">
  @if (IsCommentVisible){
    <div class="comments-container card-container">
      <div class="card new-comment-card">
        @if(!topLevelBoxOpen){
          <button mat-stroked-button color="primary" (click)="openNewCommentBox('', 0)">
            Add Comment
          </button>
        }

        @if(topLevelBoxOpen){
          <div class="comment-form">
            <mat-form-field appearance="outline" class="small full-width">
              <mat-label>Write a comment</mat-label>
              <textarea matInput [(ngModel)]="newCommentText" rows="4" placeholder="Your comment"></textarea>
            </mat-form-field>

            <div class="form-buttons">
              <button mat-flat-button color="primary" style="margin:2px;" (click)="saveNewComment()">Save</button>
              <button mat-stroked-button color="warn" style="margin:2px;" (click)="cancelNewComment()">Cancel</button>
            </div>
          </div>
        }
      </div>

      @for(comment of comments; track comment.CommentId){
        <ng-container>
          <app-comment-item 
            [comment]="comment"
            [replyBoxOpenFor]="replyBoxOpenFor"
            [replyTextByComment]="replyTextByComment"
            (openReply)="openReplyBox($event)"
            (cancelReply)="cancelReply($event)"
            (saveReply)="saveReply($event)"
            (delete)="deleteComment($event)"
          ></app-comment-item>
        </ng-container>
      }
    </div>
  }
</div>

