.main-container{
    height: 100vh;
    display: flex;
    margin: 10px;
}

.search-container{
  margin-top: 10px;
  margin-left: 10px;
  height: 45%;
}

.search-trending{
    width: 20%;
}

.miscellaneous{
    width: 20%;
    height: 100vh;
}

.trending-posts{
    overflow: auto;
    height: 50%;
    border-top: 1px solid #ddd;
}

.sub-trends{
    overflow: auto;
}

.feed-container{
    overflow: auto;
    height: 100vh;
    width: 60%;
    // border: 1px solid;
    // border-radius: 20px;
}

.feed-list{
    max-width: 1200px;
    margin:10px;
}

.feed-card {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    //border-radius: 8px;
    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.sub-feed-card {
    background-color: #fff;
    //border-radius: 8px;
    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.sub-trends{
    margin:5px;
}

 .feed-card:hover {
    background-color: #f6f6f6;
     //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
 }

.sub-feed-card:hover{
     background-color: #f6f6f6;
    //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.feed-category{
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 10px;
}

.time-posted{
    font-size: 0.7rem;
    color: #888;
}

.feed-title h3 {
    margin: 0 0 8px;
    font-size: 1.25rem;
    color: #333;
}

.feed-brief p {
    margin: 0 0 12px;
    color: #555;
}

.feed-footer {
    display: flex;
    justify-content: start;
    font-size: 0.875rem;
    color: #777;
}

.ask-button-container{
    margin-left: 0px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.popular-posts{
    overflow: auto;
    height: 53%;
    border-top: 1px solid #ddd;
}

.categories{
    height: 40%;
    overflow: auto;
}