<div class="main-container">
    <div class="ask-button-container">
        <button mat-button class="ask-btn" (click)="checkUserLogin()">Let's Guff</button>
    </div>
    <div class="feed-list">
        @for(feed of feedList; track feed.PostId){
            <div class="feed-card" (click)="redirectToPost(feed.PostId)">
                <div class="feed-title">
                    <h3>{{feed.Title}}</h3>
                </div>
                <div class="feed-brief">
                    <p>{{feed.Description}}</p>
                </div>
                <div class="feed-footer">
                    <span>Upvotes: {{feed.Upvotes}}</span>
                    <span>Downvotes: {{feed.Downvotes}}</span>
                    <span>Comments: {{feed.Comments}}</span>
                </div>
            </div>
        } 
    </div>
</div>
