/* forgot-password.component.css */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-card {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.full-width {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: end;
}

::ng-deep mat-label {
  color: black !important;
}

.forgot-password{
  margin:20px;
}