@if(currentPostId == 0)
{
  <div class="container-unposted">
    <h2>Post Your Thought</h2>
    <label id="post-title">Title </label>
    <textarea [(ngModel)]="post.Title" rows="1" cols="50" placeholder="Title..."></textarea>
    <label id="post-description">Description </label>
    <textarea [(ngModel)]="post.Description" rows="4" cols="50" placeholder="Write your thought here..."></textarea>
    <label id="post-category">Category</label>
    <input type="text" [(ngModel)]="post.Category" placeholder="Tag">
    <br />
    <button (click)="putPost()">Post</button>
  </div>
}
@else{
<div class="container-posted">
  <label id="post-title-p">{{post.Title}}</label>
  <span id="post-description-p">{{post.Description}}</span>
  <div class="up-down-votebtns">
    <button type="button" (click)="updateVote(1)">UpVote</button>
    <button type="button" (click)="updateVote(-1)">DownVote</button>
  </div>
</div>
}

