<div class="container">
  <div class="logo-container" (click)="redirectToHome()" style="cursor: pointer;">
     <div class="G">
      <h2>G</h2>
     </div>
     <div class="ua" style="margin:13px;">
        <p style="margin: 0px;">u</p>
        <p style="margin: 0px;">a</p>
     </div>
     <div class="f">
      <h2>f</h2>
     </div>
     <div class="f">
      <h2>f</h2>
     </div>
  </div>
  <div class="sub-container">
    @if (!this.isLoggedIn){
        <div class="login-btn">
          <button mat-flat-button color="primary" (click)="login()">Login</button>
        </div>
    }
    @else{
      <div class="notification-container" style="margin-right: 10px;">
        <div class="notification-button" style="margin-top:10px;">
           <button matButton [matMenuTriggerFor]="menu"><mat-icon>email</mat-icon>{{notificationCount}}</button>
              <mat-menu #menu="matMenu" panelClass="custom-menu-panel" xPosition="before">
                @if (notificationCount > 0){
                  @for(notice of notificationList; track notice.ActionPostId){
                    <button mat-menu-item (click)="goToNotification(notice)"><mat-icon>email</mat-icon>{{notice.ActionTaken}}</button>
                  }
                }
                @else {
                  <button mat-menu-item>No new notifications</button>
                }
              </mat-menu>
        </div>
      </div>
    <div class="user-creds">
          @if (user?.Picture){
            <div class="profile-pic-container">
              <img [src]="user?.Picture" alt="Profile Picture" class="profile-pic" width="20" height="20"/>
            </div>
          }
          <div class="profile-name-container">
            <p style="font-size: 12px; color: rgb(129, 87, 87);">{{ user?.Name }}</p>
          </div>   
    </div>
    <div class="logout-btn">
      <button mat-flat-button color="primary" (click)="logout()">Logout</button> 
    </div>
    }
  </div>
</div>


    