<div class="container">
  <div class="logo-container">
     <div class="G">
      <h1>G</h1>
     </div>
     <div class="ua" style="margin:13px;">
        <p style="margin: 0px;">u</p>
        <p style="margin: 0px;">a</p>
     </div>
     <div class="f">
      <h1>f</h1>
     </div>
     <div class="f">
      <h1>f</h1>
     </div>
  </div>
  <div class="sub-container">
    @if (!this.isLoggedIn){
        <div class="login-btn">
          <button mat-button (click)="login()">Login</button>
        </div>
    }
    @else{
    <div class="user-creds">
          @if (user?.Picture){
            <div class="profile-pic-container">
              <img [src]="user?.Picture" alt="Profile Picture" class="profile-pic" width="20" height="20"/>
            </div>
          }
          <div class="profile-name-container">
            <p style="font-size: 10px; color: white;">{{ user?.Name }}</p>
          </div>   
    </div>
    <div class="logout-btn">
      <button mat-button (click)="logout()">Logout</button> 
    </div>
    }
  </div>
</div>


    